{% extends 'base.html' %}

{% load static %}

{% block main-title %}{{ title }} {{ image.object }} - Amateur Astro Image{% endblock %}

{% block addons %}
<link href="{% static "mainsite/lightbox2/css/lightbox.min.css" %}" rel="stylesheet" />
<meta name="description" content="{{ image.object }} - {{ image.comment }}">
<meta name="author" content="Amateur Astro Image Team">
{% endblock %}

{% block endAddon %}
<script src="{% static "mainsite/lightbox2/js/lightbox-plus-jquery.min.js" %}"></script>
{% endblock %}

{% block content %}
<section>
    <article>
    <h1>{{ title }} {{ image.object }}</h1>
    <a href="{{ image.image.url }}" data-lightbox="image-{{ image.id }}" data-title="{{ image.object }} - {{ image.date_taken|date:"Y-m-dH:i:s" }}">
        <img src="{{ image.image_standard.url }}" alt="{{ image.object }} - {{ image.date_taken|date:"Y-m-dH:i:s" }}">
    </a>
    </article>
    <h2>Details for the Image</h2>
    <table class="striped">
        <tr>
            <td>Object in the Image</td>
            <td>{{ image.object }}</td>
        </tr>
        <tr>
            <td>Date and Time Taken</td>
            <td><time datetime="{{ image.date_taken|date:"Y-m-dH:i:s" }}">{{ image.date_taken|date:"D, F j, Y, g:i a" }}</time></td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{ image.location }}</td>
        </tr>
        <tr>
            <td>Telescope Used</td>
            <td>{{ image.telescope }}</td>
        </tr>
        <tr>
            <td>Other Comments</td>
            <td>{{ image.comment }}</td>
        </tr>
    </table>
    <p class="download-button-container"><a role="button" href="{{ image.image.url }}" download>Full Size Download</a></p>
</section>
<section>
{% comment %}
    <hr>
    <h2>Comments</h2>
    {% if comments %}
        {% for comment in comments %}
        <article>
            <header>
                <strong>{{ comment.name }}</strong>
                <time datetime="{{ comment.created_at|date:"Y-m-dH:i:s" }}">
                    {{ comment.created_at|date:"F j, Y, g:i a" }}
                </time>
            </header>
            <p>{{ comment.content|linebreaks }}</p>
        </article>
        {% endfor %}
    {% else %}
        <p>No comments yet. Be the first to comment!</p>
    {% endif %}
    <hr>
{% endcomment %}
    <h3>Add a Comment</h3>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <small>{{ field.errors|join:", " }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit">Submit Comment</button>
    </form>
</section>
{% endblock %}